@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");

:root {
  --main-bg-color: linear-gradient(180deg, #000000 0%, #0d7676 100%);
  --second-bg-color: linear-gradient(0.38deg, #000000 1.94%, #109f9f 98.21%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", "poppins", sans-serif;
}

body {
  background: var(--main-bg-color);
  background-attachment: fixed;
}

#cabecalho {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(black);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(8px);
  z-index: 1000;
}

header figure img {
  max-width: 100%;
  height: 7em;
  pointer-events: none;
  margin-left: 10rem;
}

@media (max-width: 850px) {
  header figure img {
    margin-left: 0px;
  }
}

#menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

#menu ul {
  display: flex;
}

#menu ul li {
  border-right: 2px solid rgb(18, 169, 196);
  padding-right: 20px;
  padding-left: 30px;
  list-style: none;
}

#menu ul li a {
  display: block;
  position: relative;
  font-size: 1.3rem;
  color: rgb(255, 255, 255, 0.75);
  text-decoration: none;
}

#menu ul li a:hover {
  color: #26dada;
}

#menu li a::after {
  content: "";
  cursor: pointer;
  position: absolute;
  top: 25px;
  left: 50%;
  width: 0;
  height: 0.2rem;
  background: #26dada;
  transition: all 0.3s ease-in-out;
}

#menu li a:hover::after {
  width: 50%;
  left: 25%;
}

#menu li:last-child {
  margin-right: 10rem;
  border-right: none;
}

.middle-content-home {
  max-width: 1300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  align-items: center;
  justify-items: center;
  padding: 10rem 4rem 2rem 4rem;
}

.apresentacao {
  color: #ffff;
}

.meu-nome {
  font-size: 4rem;
  color: #ffffff;
  border-right: 4px solid rgba(255, 255, 255, 0.75);
  white-space: nowrap;
  overflow: hidden;
  animation: blinkCursor 1s infinite normal, typing 2s 1s normal both;
}

.apresentacao h2 {
  animation: typingh2h3 2s 500ms normal both;
  white-space: nowrap;
  overflow: hidden;
}

.apresentacao h3 {
  animation: typingh2h3 2s 1.5s normal both;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes typingh2h3 {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 9em;
  }
}

@keyframes blinkCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

.apresentacao button {
  border-radius: 50px;
  border: 0px solid;
  background-color: #2c8080;
  margin-top: 2rem;
  transition: transform 0.3s;
  padding: 10px 20px;
  box-shadow: inset 3px -7px 2px rgba(0, 0, 0, 0.36);
  filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.25));
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: #021414;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
}

.apresentacao button:hover {
  transform: scale(1.1);
}

.logo-apresentacao {
  max-width: 100%;
  height: 25rem;
}

@keyframes animacaoY {
  0% {
    transform: translateY(0em);
  }
  100% {
    transform: translateY(-2em);
  }
}

.logo-apresentacao {
  animation: animacaoY 2s infinite alternate both;
}

#container-home-page footer {
  display: flex;
  max-width: 1300px;
  gap: 5rem;
  margin: 0 auto;
  padding: 0 2.5rem 4rem 4rem;
}

.figura img {
  max-width: 100%;
  height: 50px;
}

.figura img:hover {
  background-color: #26dada;
  border-radius: 50%;
}

.figura a {
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
}

.figura a {
  transition: transform 0.3s;
}

.figura a:hover,
.figura a:focus {
  transform: scale(1.2);
}

#btn-mobile {
  display: none;
}

@media (max-width: 850px) {
  #cabecalho {
    justify-content: space-around;
  }

  .apresentacao h2,
  h3 {
    font-size: 1rem;
  }

  .apresentacao h1 {
    font-size: 2rem;
  }

  .apresentacao button a {
    font-size: 1.5rem;
  }
}

@media (max-width: 600px) {
  .middle-content-home {
    grid-template-columns: 1fr;
    margin-top: 15rem;
  }

  .apresentacao h3 {
    font-size: 0.875rem;
  }

  .logo-apresentacao {
    display: none;
  }

  #container-home-page footer {
    gap: 3rem;
  }

  .figura {
  }
}
