@media (max-width: 1366px) {
  .middle-content-sobre h1 {
    padding-top: 2em;
  }
  .grid {
    padding-top: 10em;
  }
  .header-projetos {
    font-size: 0.7em;
  }
  .grid-projetos {
    padding-top: 2em;
    grid-template-columns: repeat(3, 23em);
  }
  .grid-projetos figure {
    height: 15em;
  }
  .grid-projetos figure img {
    height: 13em;
  }
}
@media (max-width: 1000px) {
  .logo {
    padding-left: 0px;
  }
}

@media (max-width: 1500px) {
  /* PÁGINA INICIAL*/
  .logo-principal {
    padding-top: 5em;
  }
  .logo-principal figure img {
    width: 25em;
    height: 25em;
  }
  .middle-content-home {
    padding-top: 7em;
  }
  .apresentacao {
    padding-top: 7em;
  }
  .apresentacao h1 {
    font-size: 3em;
  }
  .apresentacao button {
    margin-top: 4em;
    width: 200px;
  }
  .apresentacao button a {
    font-size: 30px;
  }

  /*PÁGINA SOBRE*/
  .middle-content-sobre h1 {
    font-size: 3.5em;
  }
  .middle-content-sobre .paragrafo {
    font-size: 1.5em;
  }

  /*PÁGINA SKILLS*/
  #container-skills-page {
    font-size: 0.8em;
  }
  .grid {
    padding-top: 12em;
  }
  .logo-Git,
  .Logo-gitHub {
    height: 12em;
  }
  .logo-Java {
    height: 12em;
  }

  /*PÁGINA PROJETOS*/
  .header-projetos {
    font-size: 0.8em;
  }
  .grid-projetos {
    padding-top: 3em;
    grid-template-columns: repeat(3, 25em);
  }
  .grid-projetos figure {
    height: 17em;
  }
  .grid-projetos figure img {
    height: 15em;
  }
  /*PÁGINA PROJETOS*/
  .middle-content-contato {
    padding-top: 5em;
  }

  .middle-content-contato h1 {
    padding-bottom: 0.3em;
  }
}

@media (max-width: 850px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 5em;
  }

  .grid-1,
  .grid-softskills {
    font-size: 0.5rem;
  }

  .grid-figures {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .js-logo {
    padding-top: 1em;
  }

  .logo-Git,
  .Logo-gitHub {
    height: 12em;
  }
  .logo-Java {
    height: 12em;
  }

  .header-projetos h1 {
    font-size: 3rem;
  }

  .grid-projetos {
    grid-template-columns: 1fr;
    padding: 0 10rem;
    gap: 1rem;
  }
  .grid-projetos figure p {
    padding: 1rem;
    width: 12rem;
  }

  .grid-projetos .ultima-figura {
    display: none;
  }

  .footer-projetos {
    padding-top: 1rem;
  }

  .middle-content-contato {
    font-size: 0.7rem;
  }

  .form-contato {
    width: 30em;
  }

  form .form-contato input {
    width: 100%;
  }
}
