@media (max-width: 1366px) {
  .middle-content-sobre h1 {
    padding-top: 2em;
  }
  .grid {
    padding-top: 10em;
  }
  .header-projetos {
    font-size: 0.7em;
  }
  .grid-projetos {
    padding-top: 2em;
    grid-template-columns: repeat(3, 23em);
  }
  .grid-projetos figure {
    height: 15em;
  }
  .grid-projetos figure img {
    height: 13em;
  }
}
@media (max-width: 1000px) {
  .logo {
    padding-left: 0px;
  }
}

@media (max-width: 1500px) {
  /* PÁGINA INICIAL*/
  .logo-principal {
    padding-top: 5em;
  }
  .logo-principal figure img {
    width: 25em;
    height: 25em;
  }
  .middle-content-home {
    padding-top: 7em;
  }
  .apresentacao {
    padding-top: 7em;
  }
  .apresentacao h1 {
    font-size: 3em;
  }
  .apresentacao button {
    margin-top: 4em;
    width: 200px;
  }
  .apresentacao button a {
    font-size: 30px;
  }

  /*PÁGINA SOBRE*/
  .middle-content-sobre h1 {
    font-size: 3.5em;
  }
  .middle-content-sobre .paragrafo {
    font-size: 1.5em;
  }

  /*PÁGINA SKILLS*/
  #container-skills-page {
    font-size: 0.8em;
  }
  .grid {
    padding-top: 12em;
  }
  .logo-Git,
  .Logo-gitHub {
    height: 12em;
  }
  .logo-Java {
    height: 12em;
  }

  /*PÁGINA PROJETOS*/
  .header-projetos {
    font-size: 0.8em;
  }
  .grid-projetos {
    padding-top: 3em;
    grid-template-columns: repeat(3, 25em);
  }
  .grid-projetos figure {
    height: 17em;
  }
  .grid-projetos figure img {
    height: 15em;
  }
  /*PÁGINA PROJETOS*/
  .middle-content-contato {
    padding-top: 5em;
  }

  .middle-content-contato h1 {
    padding-bottom: 0.3em;
  }
}

@media (max-width: 850px) {
  #cabecalho {
    justify-content: space-around;
  }

  .logo {
    padding-left: 0px;
  }

  .logo-principal {
    display: none;
  }

  .apresentacao {
    margin-top: 5em;
    font-size: 0.75rem;
  }

  .footer-home {
    justify-content: space-around;
    width: 100%;
    text-align: center;
  }

  .footer-home img {
    height: 2.5em;
  }

  #menu #list-pages {
    display: block;
    position: absolute;
    text-align: center;
    width: 100%;
    right: 0px;
    top: 119px;
    background: linear-gradient(180deg, #000000 0%, #0d7676 100%);
    height: 0px;
    transition: 0.6s;
    z-index: 1000;
    visibility: hidden;
    overflow-y: hidden;
  }

  #menu.active #list-pages {
    padding-top: 3em;
    height: calc(100vh - 70px);
    visibility: visible;
  }

  #menu ul li {
    border-right: none;
    padding-top: 0.5em;
  }

  #menu ul li a {
    font-size: 30px;
  }

  #menu li:last-child {
    margin-right: 0;
  }

  #btn-mobile {
    display: flex;
    width: 5em;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    color: #ffff;
    gap: 0.5rem;
  }

  #btn-mobile:hover {
    color: aqua;
  }

  #hamburguer {
    margin-top: 5px;
    border-top: 2px solid;
    width: 20px;
    color: #ffff;
  }

  #hamburguer::after,
  #hamburguer::before {
    content: "";
    margin-top: 5px;
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    transition: 0.3s;
    position: relative;
  }

  #menu.active #hamburguer {
    border-top-color: transparent;
  }

  #menu.active #hamburguer::before {
    transform: rotate(135deg);
  }

  #menu.active #hamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  #container-sobre-page {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .middle-content-sobre {
    padding-left: 0;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .middle-content-sobre h1 {
    font-size: 3em;
    padding-left: 0;
  }

  .middle-content-sobre .paragrafo {
    padding-left: 0;
    font-size: 1em;
    grid-row-start: 2;
    max-width: 100%;
  }

  .middle-content-sobre .paragrafo p {
    width: 80%;
  }

  .middle-content-sobre figure {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row-start: 3;
  }

  .middle-content-sobre figure img {
    width: 18em;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 5em;
  }

  .grid-1,
  .grid-softskills {
    font-size: 0.5rem;
  }

  .grid-figures {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .js-logo {
    padding-top: 1em;
  }

  .logo-Git,
  .Logo-gitHub {
    height: 12em;
  }
  .logo-Java {
    height: 12em;
  }

  .header-projetos h1 {
    font-size: 3rem;
  }

  .grid-projetos {
    grid-template-columns: 1fr;
    padding: 0 10rem;
    gap: 1rem;
  }
  .grid-projetos figure p {
    padding: 1rem;
    width: 12rem;
  }

  .grid-projetos .ultima-figura {
    display: none;
  }

  .footer-projetos {
    padding-top: 1rem;
  }

  .middle-content-contato {
    font-size: 0.7rem;
  }

  .form-contato {
    width: 30em;
  }

  form .form-contato input {
    width: 100%;
  }
}
