@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Pacifico&display=swap");

#container-sobre-page {
}

.middle-content-sobre {
  margin: 0 auto;
  max-width: 1300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  justify-items: center;
  padding: 15rem 4rem 10rem 4rem;
}

.subtitulo-sobre {
  font-size: 6rem;
  color: #306161;
  line-height: 1.3;
  position: relative;
}

.subtitulo-sobre::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 150px;
  top: -25px;
  left: -25px;
  z-index: -10;
  background: url(/assets/img/detalhe.svg) no-repeat center;
}

.subtitulo-sobre::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 150px;
  bottom: -30px;
  right: 70px;
  z-index: -10;
  background: url(/assets/img/detalhe.svg) no-repeat center;
}

.paragrafo {
  font-size: 1.125rem;
  color: #ffffff;
  line-height: 1.5;
}

@media (max-width: 1200px) {
  .subtitulo-sobre::after {
    display: none;
  }
}

@media (max-width: 800px) {
  .middle-content-sobre {
    grid-template-columns: 1fr;
    margin-top: 10rem;
  }

  .subtitulo-sobre {
    text-align: center;
  }
}
